<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="AutomationBBSuite">
  <test thread-count="1" name="BestBuyTest">
    <classes>
      <class name="baseBestBuy.TC_02_SignUpTest"/>
      <class name="baseBestBuy.TC_06_SearchAddIteamTestBB"/>
      <class name="baseBestBuy.TC_08_AddItemBrandMenuTest"/>
      <class name="baseBestBuy.TC_05_TestNavigationOfAllMenu"/>
      <class name="baseBestBuy.TC_09_CheckOutPageTest"/>
      <class name="baseBestBuy.TC_01_URLLinkHomepageBestBuy"/>
      <class name="baseBestBuy.TC_04_BottomLinksTestBB"/>
      <class name="baseBestBuy.TC_07_AddItemDeptTest"/>
      <class name="baseBestBuy.TC_03_LoginTestcases"/>
    </classes>
  </test> <!-- BestBuyTest -->
</suite> <!-- AutomationBBSuite -->
